{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="alert">
  <h1 class="alert__title" {{#if success}}style='color: #008a10' {{/if}}>{{info}}</h1>
  <a class="alert__link" href="/product-create">Create product</a>
  <a class="alert__link" href="/product-list">Products list</a>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}