@use '../../lib/service.scss' as s;
@use '../../component/purchase-heading/style.scss' as
  heading;
@use '../../component/purchase-product/style.scss' as
  purchaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

.main {
  padding: 100px 460px;
  margin: 0 auto;
}

.purchase {
  border-radius: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: grid;
  gap: 20px;
  padding: 24px;
}

.purchase-info {
  display: grid;
  gap: 20px;
}

.info-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid s.color('border');

  div {
    display: grid;
    gap: 8px;
  }

  &__title {
    color: s.color('mainBlue');
  }
}

.info-group--vertical {
  display: flex;
  flex-direction: column;
}
